$gray-900   : #111827;
$gray-800   : #1f2937;
$gray-700   : #374151;
$gray-700-op: #374151aa;
$gray-600   : #4B5563;
$gray-500   : #6B7280;
$gray-400   : #9CA3AF;
$gray-300   : #D1D5DB;
$gray-200   : #E5E7EB;
$gray-100   : #F3F4F6;
$gray-100-op: #F3F4F6aa;
$yellow-600 : #D97706;
$yellow-700 : #B45309;